.list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  height: 300px;
}

.loader{
display: flex;
justify-content: center;
}

nav{
  background-color: rgb(131, 19, 243);
}

.card-title{
  font-size: 20px;
  font-weight: bold;
}
.card {
  flex: 0 0 18rem;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:last-child {
  margin-right: 0;
}



.example-viewport {
  height: 90vh;
  width: 99vw;

}

.example-item {
  height: 50px;
  width: 50px;
}


.item-list{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
